h1
{
  font-family: 'Special Elite', fantasy;
  color:rgb(255, 65, 65);
  background-color: rgb(109, 255, 245);
}

#show_sketch
{
  float:right;
}

canvas 
  {
    border:5px solid white;
    border-radius:20px;
    margin-top:150px;
    box-shadow:5px 5px 5px grey;
    box-shadow: 1px 1px 38px #ffffff;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {

  from {box-shadow: 1px 1px 38px rgb(23, 255, 236);}
  to {box-shadow: 1px 1px 38px rgb(255, 60, 60);}

}


p, span
  {
    padding-top:10px;
    font-family: 'Special Elite', fantasy;
    font-size:25px;
    
  }
